*{
	color:rgb(0,0,0);
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: normal;
}
html{
	min-height: 100vh;
}
html,body,#app{
	height: 100%;
}
#main{
	display: flex;
	flex-direction: column;
	width:100%;
}
.cursor-pointer,.cursor-pointer *{
	cursor: pointer;
}
.flex-row,.flex-column{
	display: flex;
}
.position-sticky{
	top:9.5vh;
	background-color: white;
	z-index: 1;
}
.x08{
	font-size: 0.8em;
}
.x1{
	font-size: 1em; 
}
.x13{
	font-size: 1.3em
}
.x15{
	font-size: 1.5em; 
}
.x2{
	font-size: 2em; 
}
.half-width{
	width:50%;
}
.half-weight{
	height:50%;
}
#sidebar,#main,.pilled{
	transition: all .3s;
}
#sidebar{
	position: fixed;
	overflow: hidden;
	height: 100vh;
	min-width: 200px;
	width:20vw;
}
#sidebar,#navbar{
	position: sticky;
	top:0;
}
#navbar{
	display: flex;
	flex-direction: column;
	z-index: 2;
	width:100%;
	background-color: white;
}
.pink-button,.purple-button{
	border-color: transparent;
}
.pink-button{
	background: #EF7B7B
}
.purple-button{
	background: #6A0808;
	color: #FF5151;
}
.borderBottom{
	border-bottom:2px solid gray;
}
.table{
	border-radius:15px;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:rgba(0,0,0,0.4);
}
.table > div{
	width:95%;
	border: 1px solid #5a6d8a;
	margin:5px;
	padding:3px;
}
input{
	width: 100%;
	border-color:transparent;
}
input,textarea{
	margin-top: 2px;
	border-radius: 3px;
	padding: 2.5px;
	background-color: #fbfafa;
}
textarea{
	width: 100%;
}